{% extends "base.html" %}

{% block title %}
{{ page_title }} 
{% endblock title %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{pk}} </h1>
    <table border="1"> 
        <tr>
            <td> # </td>
            <td> Name </td>
            <td> Description </td>
            <td> Action </td>
        </tr>
        {% for auth in object_list %}
        <tr>
            <td> {{ auth.pk }} </td>
            <td> <a href = "{% url 'author-detail_cbv' auth.pk %}"> {{ auth.author_name }}</a> </a></td>
            <td> {{ auth.author_description }} </td>
            <td> 
                <a href = "{% url 'author-delete_cbv' auth.pk %}"> Delete </a> 
                <a href="{% url 'author-update_cbv' auth.pk %}"> Update</a>                                                        
            
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href=" {% url 'author-create_cbv' %} " class = "btn btn-success"> Add Author </a>

</body>
</html>

{% endblock main_content %}