<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{pk}} </h1>
    <table border="1"> 
        <tr>
            <td> # </td>
            <td> Name </td>
            <td> Description </td>
            <td> Action </td>
        </tr>
        {% for gen in object_list %}
        <tr>
            <td> {{ gen.pk }} </td>
            <td> <a href = "{% url 'genre-detail' gen.pk %}"> {{ gen.genre_name }}</a> </a></td>
            <td> {{ gen.genre_description }} </td>
            <td> 
                <a href = "{% url 'genre-delete' gen.pk %}"> Delete </a> 
                <a href="{% url 'genre-update' gen.pk %}"> Update</a>                                                        
            
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href=" {% url 'genre-create' %} "> Add genre </a>

</body>
</html>