<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{pk}} </h1>
    <table border="1"> 
        <tr>
            <td> # </td>
            <td> Name </td>
            <td> Description </td>
            <td> Action </td>
        </tr>
        {% for auth in authors %}
        <tr>
            <td> {{ auth.pk }} </td>
            <td> <a href = "{% url 'author-detail' auth.pk %}"> {{ auth.author_name }}</a> </a></td>
            <td> {{ auth.author_description }} </td>
            <td> <a href = "{% url 'author-delete' auth.pk %}"> Delete </a> </td>
        </tr>
        {% endfor %}
    </table>
    

</body>
</html>